server:
  port: ${PORT:8080}

spring:
  application:
    name: auth-service

  datasource:
    url: ${MASTER_DATABASE_URL}
    username: ${MASTER_DATABASE_USER}
    password: ${MASTER_DATABASE_PWD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      debug: false
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: email,profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: email

app:
  frontend:
    reset-password-url: ${RESET_LINK}

common:
  security:
    cors:
      allowed-origins: ${CORS_ORIGINS}
      allowed-methods: ${CORS_METHODS}
      allowed-headers: ${CORS_HEADERS}

key:
  rotation-ms: ${KEY_ROTATION_MS}
  jwt-expiration-ms: ${JWT_EXPIRATION_MS}
